/* Styles for dashboard page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(36, 33, 33);
}

header {
  background-color: #300ec7;
  color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  height: 80px;
}

h1 {
  flex: 1;
  margin: 0;
  font-size: 35px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 1em;
  font-size: 25px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
}

.dashboard {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  min-height: 80vh;
}

.left-column,
.right-column {
  flex: 1;
  min-width: 300px;
  background-color: white;
  padding: 1em;
  border-radius: 8px;
}

#stock-list {
  list-style: none;
  padding-left: 0;
}

#stock-list li {
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
}

input[type="text"],
input[type="number"] {
  width: auto;
  padding: 13px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: rgb(0, 170, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

#logoutBtn {
  margin-left: 20px;
}

.buyButton {
  background-color: green;
}

.sellButton {
  background-color: red;
}

button:hover {
  background-color: lightblue;
}

.form-popup {
  display: none;
  margin-top: 1em;
  background-color: #e7f5ec;
  padding: 1em;
  border-radius: 8px;
}

#priceChart {
  border: 1px solid #ccc; /* border color and thickness */
  background-color: #f9f9f9; /* background fill */
  border-radius: 8px; /* rounded corners */
}
/* Styles for portfolio page */
.portfolio-main {
  padding: 2em;
  text-align: center;
  color: white;
}

#table-container{
    display: flex;
    justify-content: center;
} 

table {
    background-color: white;
    color: black;
}

/* Advanace Search Page */

.advance-search-main {
    display: flex;
    justify-content: center;
}

.search-container {
    width: 600px;
    background: #fff;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
}

#input-box {
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

#searchResults ul {
    border-top: 1px solid #080707;
    padding: 15px 10px;
    margin-top: 0px;
}

#searchResults ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

#searchResults ul li:hover {
    background: #e9f3ff;
}
