body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(36, 33, 33)
}

header {
  background-color: #300ec7;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 1em;
  font-size: 20px;
}

main {
  padding: 2em;
}

.dashboard {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  min-height: 80vh;
}

.left-column, .right-column {
  flex: 1;
  min-width: 300px;
  background-color: white;
  padding: 1em;
  border-radius: 8px;
}

#stock-list {
  list-style: none;
  padding-left: 0;
}

#stock-list li {
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
}

input[type="text"], input[type="number"] {
  width: auto;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  border-radius: 4px;
  cursor: pointer;
}

.buyButton {
    background-color: green;
}

.sellButton {
    background-color: red;
}

button:hover {
  background-color: lightblue;
}

.form-popup {
  display: none;
  margin-top: 1em;
  background-color: #e7f5ec;
  padding: 1em;
  border-radius: 8px;
}
